* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  
}

.card,
.card-header,
.card-body {
  font-family: 'Times New Roman', Times, serif;
}

.resume {
  padding-left: 15px;
}

.portfolio-card {
  width: 70%;
  margin-top: 45px;
}

.blog-card {
  width: 75%;
  padding-top: 45px;
}

.home,
.blog,
.about,
.game,
.portfolio {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.blog {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}

.home {
  background-image: url('images/portfolio_octoboi.png');
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.game {
  background-image: url('images/game.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
  font-family: ccbiffbamboomoutline, sans-serif;
}

.portfolio {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}

.resume {
  margin: 20px;
}

/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
  font-family: ccbiffbamboomoutline, sans-serif;
}

.feature__item p {
  margin-top: 0.5rem;
}
.title,
.card-title {
  padding-top: 15px;
  text-align: center;
  font-family: ccbiffbamboomoutline, sans-serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
}
